# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
*.sqlite3
*.sqlite

# IDE
.vscode/
.idea/

# Environment variables
#.env

# Logs
*.log

# System Files
.DS_Store
Thumbs.db 